<div class="avg_period_content">
    <div class="grid-avg-period">
        <div class="grid-avg-period-item">Matin</div>
        <div> {{ avgTempByPeriod.morningTempAverage }}</div>
    </div>
    <div class="grid-avg-period">
        <div class="grid-avg-period-item">Apres midi</div>
        <div> {{ avgTempByPeriod.afternoonTempAverage }}</div>
    </div>
    <div class="grid-avg-period">
        <div class="grid-avg-period-item">Soir</div>
        <div> {{ avgTempByPeriod.eveningTempAverage }}</div>
    </div>
    <div class="grid-avg-period">
        <div class="grid-avg-period-item">Nuit</div>
        <div> {{ avgTempByPeriod.nightTempAverage }}</div>
    </div>
</div>