<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content=" Load and Analyse weather Data .">
    <meta name="author" content="Papa COUNDIA , TEST Devalto">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <title>{{ title }}</title>
</head>
<body>
<div class="grid-container">
    <div class="grid-item">
        <div class="calendar">
            <div class="calendar_head"><h1>{{ title }}</h1></div>
            {# include calendar process #}
            {% include 'inc_calendar.html.twig' %}
            {# end #}
        </div>
        <div class="best_day">
            <div class="best_day_head"><h1>{{ bestDayTitle }}</h1></div>
            {# include best day process #}
            {% include 'inc_best_day.html.twig' %}
            {# end #}
        </div>
        <div class="avg_day">
            <div class="avg_day_head"><h1>{{ dailyAvgTitle }}</h1></div>
            {# include average process #}
            {% include 'inc_avg_day.html.twig' %}
            {# end #}

        </div>
    </div>
</div>

</body>
</html>