<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content=" Load and Analyse weather Data .">
    <meta name="author" content="Papa COUNDIA , TEST DEVALTO">
    <title>{{ title }}</title>
</head>
<body>
<div class="container">
    <div class="calendar">
        <div class="calendar_head"><h1>{{ title }}</h1></div>
        <div class="calendar_content"> todo</div>
    </div>
    <div class="best_day">
        <div class="best_day_head"><h1>{{ best_day_title }}</h1></div>
        <div class="best_day_content"> todo</div>
    </div>
    <div class="avg_day">
        <div class="avg_day_head"><h1>{{ daily_avg_title }}</h1></div>
        <div class="avg_day_content"> todo</div>
    </div>
</div>

</body>
</html>